body
{
    box-sizing:border-box;
    background-color: #009FB7;
    margin:0;
    padding:0;
    overflow-x:hidden;
}


/***Alignment***/
.text-center
{
    text-align: center;

}


/***Text Colors***/
.text-primary
{
    color: #CB04A5;

}






/*Navbar*/

a, li, button
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    font-weight:550;
    text-decoration: none;

}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10% 0px;
    /*background-color: black;*/

}



.brand
{
    margin-left:0;
    cursor:pointer;
    transition: all 0.5s ease-in 0s;
    margin-right: auto;
}



.brand:hover
{
    color: #272838;
    
}

.brand a
{
    font-size: 25px;
}

.menu_nb
{
    list-style:none;
}
.menu_nb li
{
    display: inline-block;
    padding: 8px 10px;
}

.menu_nb li a
{
    transition: all 0.5s ease-in 0s;
}
.menu_nb li a:hover
{
    color: #272838;
}

button
{
    /*margin-right:10px;*/
    color:white;
    padding: 5px 20px;
    background-color: blueviolet;
    opacity:1;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in 0s;

}

button:hover
{
    opacity:0.4;

}

/*Navbar(End)*/


/*Main*/

.blog-title
{
    background: url('img/traveling.jpg');
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
}


.blog-title .blog-main
{
    padding-top: 4rem;
    text-align:center;


}


.blog-title h1
{
    margin: 1rem;
    font-size:3rem;
}
.blog-title h4
{
    margin: 1rem;
    font-size:1.5rem;
}

.blog-title .btn
{
    margin: 1rem;
}


/*
main .blog-main
{
    position: relative;
    text-align: center;
    color: white;
}

.top_centered
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/



/*Main(End)*/