*
{
    box-sizing:border-box;
    background-color: aquamarine;
}

a, li, button
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: brown;
    font-weight:550;
    text-decoration: none;

}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    /*background-color: black;*/

}



.brand
{
    cursor:pointer;
    transition: all 0.5s ease-in 0s;
    margin-right: auto;
}

.brand:hover
{
    color:blue;
    
}

.menu_nb
{
    list-style:none;
}
.menu_nb li
{
    display: inline-block;
    padding: 8px 28px;
}

.menu_nb li a
{
    transition: all 0.5s ease-in 0s;
}
.menu_nb li a:hover
{
    color:blue;
}

button
{
    margin-right:0px;
    color:white;
    padding: 5px 20px;
    background-color: blueviolet;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in 0s;

}

button:hover
{
    background-color: rgba(0, 130, 160, 0.8);

}